<%- include("partials/header") %>

<div class="body-container"> 
<div class="landing-header align-middle "> 
    <h1 class="mx-auto text-center my-4 text-light">Welcome to the YELPCamp</h1>
    <a href="/campgrounds" class="btn btn-primary btn-lg">View ALL the campgrounds</a></div>

<ul class="slideshow ">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    
</ul>
</div>

<%- include("partials/footer") %>